@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone from sizes;

.container {
  margin: 0 auto;
  padding: 0 10px;
}

@media mobile {
  .container {
    max-width: 300px;
  }
}

@media smartphone {
  .container {
    max-width: 420px;
  }
}

/* @media tablet-to {
  .container {
    max-width: 720px;
  }
}

@media desktop-to {
  .container {
    max-width: 1200px;
  }
} */
