.section {
  background-color: #202020;
  color: #f0f0f0;
}

.header {
  display: flex;
  gap: 24px;
  width: 100%;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  /* flex-direction: column; */
  padding: 12px 0;
}

.logoLink {
  display: block;
  padding: 12px 0;
}

.logo {
  display: block;
  max-width: 51px;
  height: 62px;
  pointer-events: none;
}

.tytle {
  font-size: 28px;
}

.text {
  font-size: 16px;
  color: #6c7072;
}
