.wrapper {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6vmin;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: #202020;
  color: #f0f0f0;
}

.thumb {
  overflow: visible;
}

.thumb::after {
  z-index: 100;
  content: "";
  display: block;
  width: 100%;
  height: 1vmin;
  background: linear-gradient(
    110deg,
    #202020 40%,
    #f0f0f0 48%,
    #f0f0f0 52%,
    #202020 60%
  );
  background-size: 300% 300%;
  background-position: 160% 160%;
  background-repeat: no-repeat;
  transform: translateY(3vmin);
  animation: gradientAnimation 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms
    alternate infinite;
}

.logo {
  display: block;
  max-width: 100%;
  height: 50vmin;
  pointer-events: none;
}

.button {
  padding: 3vmin 6vmin;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(
    110deg,
    #202020 20%,
    #f0f0f0 48%,
    #f0f0f0 52%,
    #202020 80%
  );
  background-size: 300% 300%;
  background-position: 160% 160%;
  background-repeat: no-repeat;
  color: #f0f0f0;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  animation: gradientAnimation 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms
    alternate infinite;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
  box-shadow: 0 2.8px 2.2px #f0f0f0, 0 6.7px 5.3px #f0f0f0,
    0 12.5px 10px #f0f0f0, 0 22.3px 17.9px #f0f0f0, 0 41.8px 33.4px #f0f0f0,
    0 100px 80px #f0f0f0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 160% 160%;
    color: #f0f0f0;
  }

  80% {
    background-position: 160% 160%;
    color: #f0f0f0;
  }

  100% {
    background-position: 50% 50%;
    color: #202020;
  }
}
