.wrapper {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vmin;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: #202020;
  color: #f0f0f0;
}

.logo {
  height: 40vmin;
  pointer-events: none;
  border-bottom: 1px solid #f0f0f0;
}

.button {
  padding: 3vmin 6vmin;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  text-transform: uppercase;
  background: linear-gradient(
    135deg,
    #202020 20%,
    #f0f0f0 40%,
    #f0f0f0 60%,
    #202020 80%
  );
  background-size: 200% 200%;
  background-position: top left;
  background-repeat: no-repeat;
  color: #f0f0f0;
  animation: buttonAnimation 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms
    alternate infinite;
}

.button:hover,
.button:focus {
  background-color: #f0f0f0;
  color: #202020;
}

@keyframes buttonAnimation {
  0% {
    background-position: 160% 160%;
    color: #f0f0f0;
  }

  80% {
    background-position: 160% 160%;
    color: #f0f0f0;
  }

  100% {
    background-position: 50% 50%;
    color: #202020;
  }
}
