@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone from sizes;

.section {
  padding: 12px 0;
}

@media mobile {
  .section {
    padding: 18px 0;
  }
}

@media smartphone {
  .section {
    padding: 24px 0;
  }
}

/* @media tablet-to {
  .container {
    max-width: 720px;
  }
}

@media desktop-to {
  .container {
    max-width: 1200px;
  }
} */
