@value sizes: "../../cssvariables/media.module.css";
@value mobile, smartphone from sizes;

.section {
  padding: 16px 0;
}

.section.highlighted {
  background-color: #e8ebed;
}

@media mobile {
  .section {
    padding: 22px 0;
  }
}

@media smartphone {
  .section {
    padding: 28px 0;
  }
}

/* @media tablet-to {
  .container {
    max-width: 720px;
  }
}

@media desktop-to {
  .container {
    max-width: 1200px;
  }
} */
