.form {
  margin-bottom: 12px;
  border: 1px solid #808080;
  border-radius: 12px;
  padding: 12px;
  background-color: #e0e0e0;
}

.tytle2 {
  margin-bottom: 1.2em;
  font-size: 1.4em;
}

.tytle3 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.select,
.textarea {
  border-radius: 4px;
  padding: 4px;
}
