.tytle2 {
  margin-bottom: 0.8em;
  font-size: 1.4em;
}

.text {
  font-size: 1.2em;
  line-height: 1.8em;
}

.out::after {
  content: "|";
  color: #202020;
  padding: 0 1px;
  animation-name: cursor1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

@keyframes cursor1 {
  50% {
    color: #f0f0f0;
  }
}
