.wrapper {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: #f0f0f0;
  color: #202020;
}
